body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    position: fixed;
    top: 50px;
    width: 60px;
    height: 70vh;
    padding-top: 20px;
    left: -15px;
}

.box {
    width: 60px;
    height: 50px;
    background-color: blueviolet;
    box-shadow: 0 0 8px gray;
    transition: width 0.3s ease;

    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

.box:hover {
    width: 150px;
}

.image {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    align-items: end;
}

.menu-text {
    display: none;
    margin-left: 10px;
    color: white;
}

.box:hover .menu-text {
    display: inline;
}